<!DOCTYPE html>
<html>

<head>
  <!-- Basic -->
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <!-- Mobile Metas -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <!-- Site Metas -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <link rel="shortcut icon" href="../images/favicon.png" type="image/x-icon">

  <title>ADMIN VetClub</title>

  <!-- bootstrap core css -->
  <link type="text/css" href="../css/bootstrap.css" />
  <!-- slider stylesheet -->
  <link type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />


  <!-- Custom styles for this template -->
  <link href="../css/style.css" />
  <!-- responsive style -->
  <link href="../css/responsive.css" />
</head>

<body>

  <div class="main_content">
    <div class="main_content_bg">
      <img src="../assets/images/content-bg.jpg" alt="">
    </div>

    <!-- header section strats -->
    <header class="header_section">
      <div class="container-fluid">
        <nav class="navbar navbar-expand-lg custom_nav-container">
          <a class="navbar-brand cliqueame">
            <span class="cliqueame" (click)="home()">
              VetClub
            </span>
          </a>
          <div class="" id="">
            <div class="custom_menu-btn">
                <button class="btn   my-sm-10 nav_search-btn" type="submit">
                 <i class="navbar-brand fa fa-home" (click)="home()">
                    <p class="b1t">HOME</p>
                    </i>
                </button>
            </div>
          </div>
        </nav>
      </div>
    </header>
    <!-- end header section -->

    <!-- service section -->

    <section class="service_section layout_padding">
      <div class="container py_mobile_45">
        <div class="heading_container heading_center">
          <h1 class="title1"> Nuestra tienda </h1>
        </div>

        <div class="row">

            <div class="col-md-4">
                <h2>Collar</h2>
                <img src="../assets/img/tienda/collar.jpg" width="50%"/>
                <h1>$50</h1>
                <button class="btn btn-primary" onclick="add('product-1', 50)">Agregar</button>
            </div>

            <div class="col-md-4">
                <h2>Comida para perro</h2>
                <img src="../assets/img/tienda/comida.jpg" width="50%" />
                <h1>$300</h1>
                <button class="btn btn-primary" onclick="add('product-2', 300)">Agregar</button>
            </div>

            <div class="col-md-4">
                <h2>Comida para gato</h2>
                <img src="../assets/img/tienda/comida_gato.jpg" width="50%"/>
                <h1>$250</h1>
                <button class="btn btn-primary" onclick="add('product-3', 250)">Agregar</button>
            </div>

            <div class="col-md-4">
                <h2>Rascador</h2>
                <img src="../assets/img/tienda/rascador.jpg" width="50%"/>
                <h1>$500</h1>
                <button class="btn btn-primary" onclick="add('product-4', 200)">Agregar</button>
            </div>

            <div class="col-md-4">
                <h2>Pelota para perro</h2>
                <img src="../assets/img/tienda/pelota.jpg" width="50%"/>
                <h1>$10</h1>
                <button class="btn btn-primary" onclick="add('product-5', 10)">Agregar</button>
            </div>

            <div class="col-md-4">
                <h2>Cepillo</h2>
                <img src="../assets/img/tienda/cepillo.jpg" width="50%"/>
                <h1>$20</h1>
                <button class="btn btn-primary" onclick="add('product-6', 650)">Agregar</button>
            </div>
          </div>
        </div>
    </section>

    <!-- end service section -->

    <!-- contact section -->

    <section class="contact_section layout_padding">
      <div class="container">
        <div class="heading_container">
          <h2>
            Peticiones de los usuarios
          </h2>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form_container">
              <form action="#">
                <div>
                  <input type="text" placeholder="Nombre Completo " />
                </div>
                <div>
                  <input type="email" placeholder="Email" />
                </div>
                <div>
                  <input type="text" placeholder="Telefono" />
                </div>
                <div>
                  <input type="text" class="message-box" placeholder="Mensaje" />
                </div>
                <div class="d-flex ">
                  <button>
                    Enviar
                  </button>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-6">
            <div class="map_container">
              <div class="map">
                <div id="googleMap"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- end contact section -->
  </div>

  <!-- info section -->

  <section class="info_section layout_padding2">
    <div class="info_container ">
      <div class="container">
        <div class="row">
          <div class="col-md-6 col-lg-3 ">
            <h6>
              About
            </h6>
            <p>
              Se presentan muchas caracteristicas y variaciones, las cuales permiten una buena administración y manejo de la pagina web. Buscando siempre apartados interesantes y mejorando en el camino</p>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <h6>
              Useful Link
            </h6>
            <div class="info_link-box">
              <ul>
                <li class="active">
                  <a href="http://localhost:4200/admin/#servicios">
                    Inicio
                  </a>
                </li>
                <li>
                  <a href="http://localhost:4200/admin/#about">
                    A cerca de
                  </a>
                </li>
                <li>
                  <a href="http://localhost:4200/admin/#servicios">
                    Servicios
                  </a>
                </li>
                <li>
                  <a href="http://localhost:4200/admin/#about">
                    Contacto
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <h6>
              Address
            </h6>
            <div class="contact_items">
              <a href="">
                <div class="item ">
                  <div class="img-box ">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>
                      Location
                    </p>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="item ">
                  <div class="img-box ">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>
                      Call +01 1234567890
                    </p>
                  </div>
                </div>
              </a>
              <a href="">
                <div class="item ">
                  <div class="img-box ">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </div>
                  <div class="detail-box">
                    <p>
                      demo@gmail.com
                    </p>
                  </div>
                </div>
              </a>
            </div>
          </div>
          <div class="col-md-6 col-lg-3 ">
            <div class="info_form ">
              <h5>
                Newsletter
              </h5>
              <form action="#">
                <input type="email" placeholder="Enter your email">
                <button>
                  Subscribe
                </button>
              </form>
              <div class="social_box">
                <a href="">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-instagram" aria-hidden="true"></i>
                </a>
                <a href="">
                  <i class="fa fa-youtube" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- end info section -->

  <script src="../js/jquery-3.4.1.min.js"></script>
  <script src="../js/bootstrap.js"></script>
  <!-- End Google Map -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
  </script>
  <script src="../js/custom.js"></script>
  <!-- Google Map -->
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap"></script>

</body>

</html>
