<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8 campos">
          <div class="card-body">
            <div class="container">
              <form
                [formGroup]="editarform"
                class="row g-3"
                (ngSubmit)="putform(editarform.value)"
              >
                <p class="estilo">Editar Usuario</p>
                <div class="col-md-4">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input
                    placeholder="Nombre"
                    type="text"
                    class="form-control"
                    id="nombre"
                    formControlName="nombre"
                  />
                </div>

                <div class="col-md-4">
                  <label for="correo" class="form-label">Correo</label>
                  <input
                    placeholder="Correo"
                    type="text"
                    class="form-control"
                    id="correo"
                    formControlName="correo"
                  />
                </div>

                <div class="col-md-4">
                  <label for="telefono" class="form-label">Teléfono</label>
                  <input
                    placeholder="Teléfono"
                    type="number"
                    class="form-control"
                    id="telefono"
                    formControlName="telefono"
                  />
                </div>
                
                <div class="col-md-4">
                  <label for="username" class="form-label"
                    >Nombre de Usuario</label
                  >
                  <input
                    placeholder="Nombre de Usuario"
                    type="text"
                    class="form-control"
                    id="username"
                    formControlName="username"
                  />
                  <mat-hint style="color: black;">El nombre de usuario debe ser unico</mat-hint>
                </div>

                <div class="col-md-4">
                  <label for="password" class="form-label"
                    >Contraseña</label
                  >
                  <input
                    placeholder="Digite la Contraseña"
                    type="password"
                    class="form-control"
                    id="password"
                    formControlName="password"
                  />
                </div>

                <div class="d-grid gap-2 d-md-block estilos">
                  <button type="submit" class="btn btn-success register">
                    Actualizar
                  </button>
                  <button class="btn btn-secondary" type="reset">
                    Limpiar Formulario
                  </button>

                  <button
                    id="back"
                    type="button"
                    class="btn btn-dark"
                    (click)="regresar()"
                  >
                    <i class="fa fa-home"><p class="b1t">Regresar</p></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
