<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio">
  <div class="container">
    <div class="row espacio2">
      <div class="card card1">
        <div class="card-body">
          <table class="table table-striped center1">
            <thead>
              <th>#</th>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Telefono</th>
              <th>Nickname</th>
              <th>Editar</th>
              <th>Borrar</th>
            </thead>
            <tbody>

              <tr *ngFor="let us of usuario">
                <td>{{ us.id_usuario }}</td>
                <td>{{ us.nombre }}</td>
                <td>{{ us.correo }}</td>
                <td>{{ us.telefono }}</td>
                <td>{{ us.username }}</td>
                <td><button (click)="editarUsuario(us.id_usuario)" class="btn btn-warning">Editar</button></td>
                <td><button (click)="eliminarUser(us.id_usuario)" class="btn btn-danger">Borrar</button></td>
              </tr>
            </tbody>
          </table>
          <button type="submit" (click)='nuevoUsuario()' class="btn btn-success salto">Nuevo Usuario</button>
          <button
                    id="back"
                    type="button"
                    class="btn btn-dark"
                    (click)="regresar()"
                  >
                  <i class="fa fa-home"><p class="b1t">Regresar</p></i>
                  </button>
        </div>
      </div>
    </div>
  </div>
  </div>
