<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio">
    <div class="card">
      <div class="row g-0">
        <div class="col-md-4">
          <img
            src="https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1974&q=80"
            class="img-fluid rounded-start"
          />
        </div>
        <div class="col-md-8 campos">
          <div class="card-body">
            <div class="container">

              <form
                [formGroup]="formProfesional"
                class="row g-3"
                (ngSubmit)="postform(formProfesional.value)"
              >
                <p class="estilo">Registrar Profesional</p>
                <div class="col-md-4">
                  <label for="nombre" class="form-label">Nombre</label>
                  <input
                    type="text"
                    class="form-control"
                    id="nombre"
                    formControlName="nombre"
                    placeholder="Nombre"
                  />
                </div>

                <div class="col-md-4">
                  <label for="correo" class="form-label">Correo</label>
                  <input
                    type="text"
                    class="form-control"
                    id="correo"
                    formControlName="correo"
                    placeholder="Correo"
                  />
                </div>

                <div class="col-md-4">
                  <label for="tipoProfesional" class="form-label"
                    >Seleccione Tipo Profesional</label
                  >
                  <select
                    class="form-select"
                    aria-label="Default select example"
                    type="text"
                    id="tipoProfesional"
                    formControlName="tipoProfesional"
                  >
                    <option value="" disabled selected>
                      Seleccione una opción
                    </option>
                    <option value="1">Veterinario</option>
                    <option value="2">Estilista</option>
                    <option value="3">Secretario</option>
                  </select>
                </div>

                <div class="col-md-a">
                  <label for="nickname" class="form-label"
                    >Nickname Profesional</label
                  >
                  <input
                    type="text"
                    class="form-control"
                    id="nickname"
                    formControlName="nickname"
                    placeholder="Nickname"
                  />
                </div>

                <div class="d-grid gap-2 d-md-block estilos">
                  <button type="submit" class="btn btn-success register">
                    Registrar
                  </button>
                  <button class="btn btn-secondary" type="reset">
                    Limpiar Formulario
                  </button>
                  <button
                    id="back"
                    type="button"
                    class="btn btn-dark"
                    (click)="regresar()"
                  >
                    <i class="fa fa-home"><p class="b1t">Regresar</p></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
