<div class="main_content">
  <div class="main_content_bg">
    <img src="../assets/images/content-bg.jpg" alt="">
  </div>
  <div class="espacio">
    <div class="container">
      <div class="row espacio2">
        <div class="card card1">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <th>#</th>
                  <th>Tipo Proceso</th>
                  <th>Profesional</th>
                  <th>Tipo Mascota</th>
                  <th>Nickname</th>
                  <th>Fecha</th>
                  <th>Hora</th>
                  <th>Editar</th>
                  <th>Borrar</th>
                </thead>
                <tbody>
                  <tr *ngFor="let ci of cita">
                    <td>{{ ci.id_cita }}</td>
                    <td>{{ ci.tipoProceso }}</td>
                    <td>{{ ci.profesional }}</td>
                    <td>{{ ci.tipoMascota }}</td>
                    <td>{{ ci.nickname }}</td>
                    <td>{{ ci.fecha }}</td>
                    <td>{{ ci.hora }}</td>
                    <td><button (click)="editarCita(ci.id_cita)" class="btn btn-warning">Editar</button></td>
                    <td>
                      <button aling="center"
                        (click)="eliminarCita(ci.id_cita)"
                        class="btn btn-danger"
                      >
                        Borrar
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <button
              type="submit"
              (click)="nuevaCita()"
              class="btn btn-success salto"
            >
              Nueva Cita Veterinario
            </button>
            <button
              type="submit"
              (click)="nuevaCitaStyle()"
              class="btn btn-success salto"
            >
              Nueva Cita Estilista
            </button>
            <button
                    id="back"
                    type="button"
                    class="btn btn-dark salto"
                    (click)="regresar()"
                  >
                  <i class="fa fa-home"><p class="b1t">Regresar</p></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

